<div>
  <a [routerLink]="['/']">主页</a>
  <!--<a [routerLink]="['/product']" [queryParams]="{id:1}">商品详情</a>-->
  <a [routerLink]="['/product', 1]">商品详情</a>
  <input type="button" value="商品详情" (click)="toProductDetails()">

  <!--辅助路由链接-->
  <a [routerLink]="[{outlets: {primary:'home', aux: 'chat'}}]">Start Chat</a>
  <a [routerLink]="[{outlets: {aux: null}}]">End Chat</a>

</div>
<div>
  <router-outlet></router-outlet>
  <router-outlet name="aux"></router-outlet>
</div>


<!--<div>-->
  <!--组件间通讯练习： 我是父组件-->
<!--</div>-->
<!--<div>-->
  <!--<input type="text" placeholder="请输入股票代码" [(ngModel)]="stock">-->
  <!--<app-order [stockCode] = 'stock' [amount] = '100'></app-order> &lt;!&ndash; 父组件给子组件传值 &ndash;&gt;-->
<!--</div>-->

<div>
  <app-price-quote (buy)="buyHandler($event)"></app-price-quote> <!-- 子组件给父组件传值   (lastPrice)="priceQuoteHandler($event)" -->
</div>
<!--<div>-->
  <!--这是在报价组件外部， 股票代码是{{priceQuote.stockCode}},-->
  <!--股票价格是{{priceQuote.lastPrice | number: '2.2-2'}}-->
<!--</div>-->

<div>
  <app-order [priceQuote]="priceQuote"></app-order><!-- 父组件给子组件传值 -->
</div>


<!--<app-child #child1></app-child>-->
<!--<app-child #child2></app-child>-->
<!--<button (click)="child2.greeting('Jerry')">调用child2的greeting方法</button>-->
<!--{{message}}-->

<div class="wrapper">
  <h2>我是父组件</h2>
  <div>这个div定义在父组件中</div>
  <app-child>
    <div class="header">这是页头，这个div是父组件投影到子组件的, title是{{title}}</div>
    <div class="footer">这是页脚，这个div是父组件投影到子组件的</div>
  </app-child>
</div>

<div [innerHtml]="divContent"></div>
